<ion-header>
  <ion-toolbar>
    <ion-title>Secciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Secciones para la asignatura seleccionada</h2>
  <ion-list>
    <ion-item *ngFor="let section of sections" (click)="goToClases(section.section_id)">
      <ion-button>{{ section.nombre_seccion }}</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-profesor"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
